<div class="uk-section uk-section-muted">
  <div class="uk-container">
    <div class="uk-child-width-expand@s" uk-grid>
      <div class="uk-width-1-4@m">
        <div uk-lightbox>
          <a href="https://cafespaces.files.wordpress.com/2017/02/coffeeshop_company_2.jpg"><img data-src="https://cafespaces.files.wordpress.com/2017/02/coffeeshop_company_2.jpg" width="500" height="" alt="400" uk-img></a>
        </div>
      </div>
      <div class="uk-width-auto@m uk-padding-medium-left">
        <h1><%= @location.name %>
        <span class="uk-badge uk-padding-small">
          <%= @location.check_ins.sum(:count) %> Total Check-ins
        </span></h1>
        <p class="uk-margin-remove-bottom"><i class="fas fa-map-marker-alt"></i> <%= @location.street %>, <%= @location.city %>, <%= @location.country %>.</p>
        <p class="uk-margin-remove-top uk-margin-remove-bottom"><i class="fas fa-inbox uk-text-middle"></i> <%= @location.phone %>  <i class="fas fa-phone-volume uk-text-middle uk-margin-small-left"></i> <%= @location.phone %> </p>
        <p class="uk-margin-remove-top"><a href="https://twitter.com/<%= @location.twitter %>"><i class="fab fa-twitter uk-text-middle"></i> <%= @location.twitter %></a> <a href="https://facebook.com/<%= @location.facebook %>"><i class="fab fa-facebook uk-text-middle uk-margin-small-left"></i> <%= @location.facebook %></a> <a href="<%= @location.website %>"><i class="fas fa-sitemap uk-text-middle uk-margin-small-left"></i> <%= @location.website %></a></p>
        <form method="post" action="/locations/<%= @location.id %>?checkin=true">
        <% if logged_in? %>
        <p uk-margin>
            <button type="submit" value="submit" class="uk-button uk-button-primary uk-button-small">Check-in (<%= current_user.check_ins.where(location_id: @location.id).sum(:count) %>)</button> <button class="uk-button uk-button-default uk-button-small">Edit Business</button>
        </p>
        <% end %>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="uk-section">
  <div class="uk-container uk-margin">

  <% if !logged_in? %>
      <div class="cls:uk-animation-fade uk-alert-warning uk-margin-remove-top" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          
          <h3><span class="fas fa-exclamation-triangle uk-align-left uk-text-middle" style="padding-top: 25px; padding-left: 25px;"></span> Please login or register!</h3>
          <p>Please <a href="/users/login">login</a> or <a href="/users/register">register</a> to take advantage of all the SYO features! </p>
      </div>

    <% end %>

    <% if flash.has?(:error) %>

      <div class="cls:uk-animation-fade uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <h3>Sorry</h3>
          <p><%= flash[:error] %></p>
      </div>

    <% end %>

    <% if flash.has?(:success) %>
      <div class="cls:uk-animation-fade uk-alert-success" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <h3>Successful Check-in!</h3>
          <p><%= flash[:success] %></p>
      </div>
    <% end %>

    <% if logged_in? %>
    <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
      <div class="uk-width-1-4@m">
        <table class="uk-table">
          <thead>
            <tr>
              <th>
                <a href="/users/profile/<%= current_user.username %>" class="uk-text-middle">
                  <img src="<%= current_user.image %>" class="uk-preserve-width uk-border-circle" width="50" height="50" style="padding-right: 4px;">
                  <%= current_user.username %>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul class="uk-iconnav uk-iconnav-vertical">
                  <%# if current_user.role.title == "Admin" %>
                  <li><a href="/locations/pending"><span uk-icon="icon: list" style="padding-right: 4px;"></span>Pending Listings</a></li>
                  <%# <% elsif current_user.role.title == nil  %>
                  <%# end %>
                  <li><a href="/locations/new"><span uk-icon="icon: plus" style="padding-right: 4px;"></span>Add a Business</a></li>
                  <li><a href="#"><span uk-icon="icon: file-edit" style="padding-right: 4px;"></span>Edit a Business</a></li>
                  <li><a href="#"><span uk-icon="icon: settings" style="padding-right: 4px;"></span>Settings</a></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>
      <div class="uk-width-expand@m">
        <h2 class="uk-padding-bottom">Latest Comments</h2>
        <div class="uk-card uk-card-default uk-card-body">
        <% if logged_in? %>
        <h3 class="uk-heading-bullet uk-padding-bottom">New Comment</h3>
          <form method="post" action="/locations/<%= @location.id %>">
            <div class="uk-margin">
                <textarea class="uk-textarea uk-form uk-width-1-1 uk-padding-small" type="textarea" name="body" placeholder="Enter your comment here." width="100%"></textarea>

                <button type="submit" value="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin">Submit Comment</button>
            </div>
          </form>
          <% end %>
          <ul class="uk-comment-list">
            <% @location.comments.order(created_at: :DESC).each do |comment| %>
              <li>
                <article class="uk-comment uk-visible-toggle" tabindex="-1">
                  <header class="uk-comment-header uk-position-relative">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                          <a href="/users/profile/<%= comment.user.username %>"><img class="uk-comment-avatar uk-border-circle" src="<%= comment.user.image %>" width="80" height="80" alt=""></a>
                      </div>
                      <div class="uk-width-expand">
                          <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="/users/profile/<%= comment.user.username %>"><%= comment.user.username %></a></h4>
                          <p class="uk-comment-meta uk-margin-remove-vertical"><a class="uk-link-reset" href="#">@ <a href="/locations/<%= comment.location.id %>"><%= comment.location.name %></a></p>
                          <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#"><%= comment.created_at.strftime("On %A, %b. %e, %Y at %I:%M%p") %></a></p>
                      </div>
                    </div>
                  </header>
                  <div class="uk-comment-body">
                    <p><%= comment.body %></p>
                  </div>
                </article>
              </li>
              <hr class="uk-margin-large-top">
            <% end %>
          </ul>
      

        <ul class="uk-pagination">
          <li>
            <a href="#"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a>
          </li>
          <li class="uk-margin-auto-left">
            <a href="#">Next <span class="uk-margin-small-left" uk-pagination-next></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>

